body {
  color: #fff;
  font-family: "Arial";
  text-align: center;
  align-items: center;
  justify-content: center;
}

#content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto minmax(200px, auto) auto;
  grid-gap: 3px;
  max-width: 900px;
  margin: auto;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: header;
  color: black;
  margin: 20;
  padding: 60;
  background: rgb(106, 115, 245);
}

main {
  grid-area: main;
  color: black;
  background: rgb(246, 246, 246);
}

footer {
  grid-area: footer;
  color: rgb(93, 93, 93);
  background: rgb(212, 212, 212);
  padding: 5px;
  font-size: 12px;
}
